@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

:root {
  scroll-behavior: smooth;
  --color-blue: #43abf0;
  --color-black: rgba(16, 16, 29, 0.9);
  --border-size: 70%;
  --border-size-1200: 90%;
  --font-size-p: 13px;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: "Lato-Regular";
}

a {
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(61, 64, 80, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(62, 156, 220, 1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 122, 168);
}
