@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

.header {
  height: 100px;
  display: grid;
  place-items: center;
  background: rgba(16, 16, 29, 0.9);
  position: fixed;
  width: 100%;
  top: 0px;
}

.header__content {
  display: grid;
  grid-template-columns: min-content 435px;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.header__logo {
  text-transform: uppercase;
  font-size: 28px;
}

.header__sub {
  color: #43abf0;
}

.header-nav__list {
  display: flex;
  gap: 60px;
}

.header-nav__link {
  text-transform: uppercase;
  font-size: 13px;
  transition: 0.2s;
}

.header-nav__link--active {
  color: #43abf0;
}

.header-nav__link:hover {
  color: #43abf0;
}

.main {
  background-image: url("../img/mainimg.jpg");
  min-height: 400px;
  height: 90vh;
  background-size: cover;
  display: grid;
  place-items: center;
}

.main__content {
  width: 70%;
  display: grid;
  gap: 80px;
}

.main__title {
  text-transform: uppercase;
  width: 770px;
  font-size: 48px;
}

.main__content p {
  font-size: 20px;
  font-weight: 700;
}

.main__button {
  border-radius: 4px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-size: 13px;
  height: 43px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 183px);
  gap: 30px;
}

.main__button--accent {
  color: white;
  background: rgba(62, 156, 220, 1);
  border: 1px solid white;
  transition: 0.2s;
}

.main__button--accent:hover {
  background: rgb(57, 136, 188);
}

.main__title--accent {
  color: rgb(57, 136, 188);
}

.main__button--sub {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.main__button--sub:hover {
  background: rgb(236, 236, 236);
}
.main-text__item {
  font-size: 20px;
}
.main-text__item::before {
  content: "-";
  position: relative;
  left: -5px;
}

.main-text__title {
  margin-bottom: 10px;
}

.section {
  background-image: url("../img/BG.jpg");
  min-height: 400px;
  height: 90vh;
  background-size: cover;
  display: grid;
  place-items: center;
}

.section__content {
  width: 70%;
  display: grid;
  place-items: center;
}

.section__title {
  color: white;
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Roboto-Regular";
  margin-bottom: 30px;
}

.section__title--accent {
  color: rgb(57, 136, 188);
}

.section__warning {
  font-family: "Roboto-Regular";
  color: hsla(0, 0%, 73%, 1);
  font-size: 18px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 80px;
  flex-wrap: wrap;
}
.icon-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.icon {
  background-color: #43abf0;
  display: grid;
  border: 5px solid hsla(204, 57%, 36%, 1);
  border-radius: 50px;
  width: 80px;
  height: 80px;
  place-items: center;
}

.icon__text {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  text-align: center;
  width: 200px;
}

.form {
  margin-top: 80px;
  gap: 5px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 370px);
  justify-content: space-between;
}

.form__input {
  padding: 0px 8px;
  height: 48px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgb(227, 227, 227);
  color: rgba(39, 39, 51, 1);
  font-size: 18px;
}

.form__input[name="select"] {
  height: 50px;
}
