.reviews {
  display: grid;
  place-items: center;
  min-height: 400px;
  position: relative;
  padding-bottom: 80px;
  background-image: url("../../img/bg2.jpg");
  background-size: cover;
}

.reviews__title {
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Roboto-Regular";
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

.reviews-slider {
  width: 70%;
  margin-bottom: 50px;
  overflow: hidden;
}

.reviews-slider__content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  transition: 0.5s;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.reviews-slider__button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 47%;
  font-size: 15px;
  background-color: #9fd9ff3a;
  border-radius: 50px;
  color: #097dca94;
  border: 2px solid #51a9e425;
  transition: 0.2s;
}

.reviews-slider__button:hover {
  background-color: #ffffff;
  color: #007ed2;
}
.reviews-slider__button--start {
  left: 14%;
}
.reviews-slider__button--end {
  right: 14%;
}

.reviews-slider__card {
  display: grid;
  grid-template-areas:
    "stars . img"
    "names . img"
    "commit commit commit";
  scroll-snap-align: start;
  grid-template-rows: repeat(2, 25px) auto;
  grid-template-columns: 5fr repeat(2, min-content);
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  background-color: #bcd3e5b0;
  padding: 10px;
  min-width: 300px;
  max-width: 300px;
}

.reviews__title--accent {
  color: rgb(57, 136, 188);
}

.reviews-slider__stars {
  color: rgba(62, 156, 220, 1);
  font-family: "Roboto-Regular";
  font-size: 18px;
  align-self: flex-start;
  grid-area: stars;
}

.reviews-slider__names {
  font-size: 16px;
  color: #4688b5;
  padding-right: 10px;
  align-self: flex-start;
  grid-area: names;
}

.reviews-slider__img {
  align-self: flex-start;
  width: 50px;
  grid-area: img;
  border-radius: 50%;
}

.reviews-slider__commit {
  grid-area: commit;
  margin-top: 20px;
  align-self: flex-start;
}

.reviews-slider__names,
.reviews-slider__commit {
  font-family: "Roboto-Regular";
  font-size: 13px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(66, 169, 237, 1);
  height: 22px;
  width: 22px;
  border-radius: 20px;
  border: solid 3px rgba(40, 102, 144, 1);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 16px;
  background-color: rgba(66, 169, 237, 1);
  width: 16px;
  border-radius: 20px;
  cursor: pointer;
  border: solid 3px rgba(40, 102, 144, 1);
}

@media only screen and (max-width: 850px) {
  .reviews__title {
    font-size: 27px;
  }
}

@media only screen and (max-width: 420px) {
  .reviews__title {
    font-size: 27px;
  }
  .reviews-slider__card {
    min-width: 220px;
    max-width: auto;
  }
}
